.body {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.4s ease-in;
  animation: fadeIn 1s ease-in;
}

.container {
  height: 100%;
  width: 90%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fonContainer {
  border: 1px solid red;
  height: 100% !important;
  width: 90% !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
  cursor: pointer;
}

.transparentCell {
  background-color: transparent;
  border: 0px !important;
  position: relative;
}

.indexText {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.gridContainer {
  position: absolute;
  top: 0;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}