@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RussianRailGProExtended';
    src: url('/fonts/RussianRail_G_Pro_Extend.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
  body {
    margin: 0;
    font-family: 'RussianRailGProExtended', sans-serif;
    height: 100vh;
    background: #efefef;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}

*
{
  font-family: 'RussianRailGProExtended', sans-serif !important;
}

.custom-calendar {
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.custom-popper {
  z-index: 9999;
}
.react-datepicker__day--selected {
  background-color: #4caf50;
}
.react-datepicker__time-container .react-datepicker__time {
  background-color: #e0f7fa;
}
.react-datepicker__input-container:hover,
.react-datepicker__input-container:focus
{
  cursor: default !important;
  background-color: transparent !important;
}