@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RussianRailGProExtended';
    src: url('/fonts/RussianRail_G_Pro_Extend.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
  body {
    margin: 0;
    font-family: 'RussianRailGProExtended', sans-serif;
    height: 100vh;
    background: #efefef;
  }
}
/* 
body {

  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}

*
{
  font-family: 'RussianRailGProExtended', sans-serif !important;
}
