.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, auto);
  grid-template-rows: repeat(15, auto);
  height: 100%;
}

.gridCell {
  border: 1px solid #aaa;
  display: flex;
  aspect-ratio: 1 / 1;
}

.gridCell svg {
  position: absolute;
}

.selectedCell {
  width: 100%;
  height: 100%;
}

.cameraIcon
{
  display:flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.streamModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.streamModalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 800px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cameraViewSector {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 0, 0.3);
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
  transform-origin: 50% 50%;
}