.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    /* Измените на translateX(100%) для скрытия панели */
    margin-top: 8%;
    height: 45vh;
}

.tableContainer::-webkit-scrollbar {
    width: 8px;
}

.tableContainer::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.header {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1000;
    background-color: white;
}

.Buttons {
    display: flex;
    gap: 1vh;
    align-items: flex-end;
    justify-content: center;
}

.selectButton,
.saveButton {
    height: 3vh;
    width: 16vh;
    padding: 7px;
    border: none;
    border-radius: 20px;
    background-color: #666;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    font-size: 12px;
}

.selectButton:hover {
    background-color: #006c2a;
}

.saveButton {
    background-color: #006c2a;
}

.roomSelectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1vh;
    bottom: 0;
    left: 0;
    position: sticky;
}

.tableContainer th,
.tableContainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tdContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableContainer th {
    background-color: #f2f2f2;
}

.tableHeader {
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
}

.tableContainer {
    padding: 0 20px;
    width: 44vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 35vh;
}