.navbar {
  position: relative;
  height: 40px;
  background-color: #01572d;
  display: flex;
  align-items: center;
  padding: 10px;
/*   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.menuToggle {
  outline: none;
  border: none;
  background: #ccc;
  cursor: pointer;
/*   position: absolute; */
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.menuToggle:hover {
  transform: scale(1.1);
  background-color: #999;
}

.menuToggle:focus{
  transform: scale(1.1);
}

.menuList {
  padding: 10px;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 60px;
  width: 200px;
  border-radius: 10px;
  z-index: 1;
}

.menuItem {
  margin-bottom: 10px;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 27px;
  text-align: center;
  background: #ccc;
  color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menuItem:hover {
  transform: translateY(-2px);
}

.menuItem:last-child {
  margin-bottom: 0;
}

.logoutButton {
  margin-left: auto;
  background-color: #ccc;
  color: #333;
  border: none;
  display: flex;
  border-radius: 27px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.logoutButton:hover {
  background-color: #999;
  transform: scale(1.1);
}

.tabsContainer{
  display: flex;
  align-items: center;
}

.tab{
  display: flex;
  padding: 10px;
  border: nones;
  border-radius: 23px;
  color: #333;
  height: 28px;
  background-color: #ccc;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-left: 5px;
}

.tab:hover{
  cursor:pointer;
  background-color: #999;
}

.closeTab{
  border: none;
  background-color: transparent;
  color: #333;
}

.closeTab:hover{
  cursor: pointer;
  color: #333;
  transform: scale(1.2);
}