.navbar {
  position: relative;
  height: 20px;
  background-color: #ccc;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  gap: 5px;
  -webkit-app-region: drag;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.menuToggle {
  outline: none;
  border: none;
  background: #ccc;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
  transition: transform 0.3s ease;
  opacity: 0.4;
}

.menuToggle:hover {
  transform: scale(1.1);
/*   background-color: #999; */
  opacity: 1;
}

.menuToggle:focus {
  transform: scale(1.1);
}

.menuList {
  padding: 10px;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 40px;
  width: 212px;
  z-index: 1;
  background: #ccc;
  left: 0;
}

.menuItem {
  margin-bottom: 10px;
  padding: 12px;
  cursor: pointer;
  gap:10px;
  border: none;
  text-align: center;
  background: #ccc;
  color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.activeTab{
background-color: #999 !important;
color: #333 !important;
font-weight: bold;
}

.menuItem:hover {
  transform: translateY(-2px);
  background-color: #999;
  color: white;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.logoutButton {
  margin-left: auto;
  background-color: #ccc;
  color: #333;
  border: none;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
  opacity: 0.4;
}

.logoutButton:hover {
  transform: scale(1.1);
  opacity: 1;
}

.tabsContainer {
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}

.closeTab svg{
  width: auto !important;
  z-index: 10001;
}

.tab {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  color: #666;
  height: 17px;
  background-color: #ccc;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.tab svg{
  width: 20%;
}

.spanContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.tab:hover {
  cursor: pointer;
  background-color: #999;
  border: 1px solid #999;
  font-weight: bold;
  color: #333;
}

.closeTab {
  border: none;
  background-color: transparent;
  color: #333;
  -webkit-app-region: no-drag;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  z-index: 10001;
}

.tab:hover .closeTab {
  opacity: 1; 
}

.closeTab:hover {
  cursor: pointer;
  color: #333;
  z-index: 10001;
}

.logoutButton svg {
  font-size: 40px;
}

.logoutButton svg:hover {
  color: #d30000;
}

.closeTab svg:hover {
  background: #555;
  border-radius: 10px;
  color: #f0f0f0;
}

.menuList span{
  display: flex;
}