.body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  transition: background 0.4s ease-in;
}

.container {
  height: 100%; 
  width: 90%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure relative positioning for containing the grid */
}

.container svg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: 25% 50%;
  align-items: center;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
  cursor: pointer;
}

.indexText {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.card.inactive {
  transform: scale(0.8);
  opacity: 0.1;
  margin-right: 10px;
}

.card.active {
  grid-column: 2 / 3;
  grid-row: 1;
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
  position: relative; /* Ensure relative positioning for containing the grid */
}

.gridOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 5 columns, each 20% wide */
  grid-template-rows: repeat(10, 1fr); /* 5 rows, each 20% high */
}

.gridCell {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}