.buttonscontainer {
    display: flex;
    justify-content: center;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer button {
    padding: 10px;
    border: none;
    background-color: #888 !important;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 32%;
}

.buttonsContainer button:hover{
    transform: scale(1.1);
}

.startContainer {
    border-radius: 15px;
}

.canvasesContainer {
    position: relative;
    border-radius: 10px;
}

.cameraName {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    right: 0px;
    border-top-right-radius: 10px;
    margin-top: 35px;
}

.canvasesContainer canvas {
    display: block;
    width: 100%;
    border-radius: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f978;
    box-shadow: none;
}

.deleteBut{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -18px;
    margin-left: 18px;
}

.deleteBut button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.deleteBut button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.deleteBut svg{
    font-size: 30px;
}