.canvasesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.plusSign {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    height: 100%;
    width: 100%;
}

.listCameraPlaceholder{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
}