.Container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: #f0f0f0; 
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* Эти стили будут заменены анимацией в Framer Motion */
}

.loginPageBody {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.users {
  margin-bottom: 20px;
}

.userLogin, .userPassword {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userPassword input, .userLogin input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.LoginPageBox button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #006c2a;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.LoginPageBox button:hover {
  background-color: #cccccc;
}
