.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: rgb(240, 240, 240); 
}

.logoContainer1, .logoContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.LoginPageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.users {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.loginText div, .passwordText div {
  width: 100% !important;
}

.userLogin, .userPassword {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userPassword input, .userLogin input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button1, .button2 {
  width: 51%;
  padding: 7px;
  border: none;
  border-radius: 20px;
  background-color: #666;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  font-size: 18px;
}

.button2
{
  background-color: #cccccc !important;
  color: black !important;
  font-size: 14px !important;
}
.button1:hover  {
  background-color: #006c2a;
}

.button2:hover{
  background-color: #006c2a !important;
}

.eye {
  color: black !important;
  background: transparent !important;
}

/* Дополнительные стили для выравнивания иконки глаза */
.MuiInputAdornment-root {
  position: absolute;
  right: 0;
}

.MuiInputBase-root {
  position: relative;
}

#password-input
{
  width: 90% !important;
}

#iconEye
{
  width: 10%;
}

.logoContainer2 svg
{
  height:70px;
}

.logoContainer1 svg
{
  height: 220px;
}

.Buttons
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kuku
{
  width: 90%
}