.leftContainer {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 2vh;
  background: #f0f0f0;
  padding: 1vh 0 1vh 0;
  z-index: 999 !important;
  font-size: 2vh !important;
}

.tabButton {
  border: none;
  margin-top: -1vh !important;
  height: 4vh !important;
  background-color: #006c2a;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  font-size: 1.5vh;
  flex: 1;
}

.tabButton:hover {
  background-color: #ddd;
  color: black;
}

.activeTab {
  background-color: #ddd;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.planContainer {
  display: flex;
  flex-direction: column;
}

.rightContainer {
  display: flex;
  width: 1220px;
  align-items: center;
  flex-direction: column;
}

.containerT {
  flex: 1;
  overflow: auto;
}

.tableWrapper,
.tableContainer {
  overflow-x: auto;
}

.homeContainer {
  display: flex;
  justify-content: start;
  height: 96vh;
  width: 1920px;
  animation: fadeIn 1s ease-in;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 31vh;
  width: 67vh;
}

.carouselInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  transform: scale(0.3);
}

.buildingIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  width: 65%;
  cursor: pointer;
}

.buildingIcon svg {
  cursor: pointer;
}

.active {
  opacity: 1;
  z-index: 1;
  transition: transform 0.5s ease;
}

.active svg {
  color: #006c2a
}

.nearby {
  opacity: 0.1;
  transform: scale(0.9);
  z-index: 10;
}

.nearby:hover {
  color: rgb(0, 108, 42);
}

.prev {
  transform: translateX(-120%) scale(0.5);
}

.next {
  transform: translateX(120%) scale(0.5);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  z-index: 1001;
  width: 50px;
}

.prevButton {
  left: 0vh;
}

.nextButton {
  right: 0vh;
}

.prevButton svg:hover,
.nextButton svg:hover {
  transform: scale(1.1);
  color: #999;
}

.hidden {
  opacity: 0;
}

.outSide,
.plan {
  width: 68% !important;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

.planContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30%;
  width: 1220px;
}

.planOutside {
  display: flex;
  width: 81%;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 578px;
}

.planInside {
  display: flex;
  width: 81%;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 578px;
}

.cameraLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.prevFloor,
.nextFloor {
  border: none;
  cursor: pointer;
  background-color: transparent !important;
}

.planOutside .cameraLabel {
  justify-content: center;
}

.prevFloor:hover,
.nextFloor:hover {
  transform: scale(1.1);
  color: #999;
}

.containerT {
  border-radius: 3vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 108, 42, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerT:hover {
  box-shadow: 0 12px 24px rgba(0, 108, 42, 0.2);
}

.panelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panelTitle,
.panelTitle1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  color: black;
  height: 2vh;
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
}

.panelTitle1 {
  padding: 0px !important;
}

.selectContainer {
  display: flex;
  gap: 10px;
}

.selectContainer select {
  border: 1px solid #ccc;
  border-radius: 21px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  color: #333;
  background-color: transparent;
}

.selectObject {
  display: flex;
  gap: 10px;
}

.selectContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5vh;
}

.selectObject select:hover {
  border-color: #006c2a;
}

.selectObject select:focus {
  background-color: #ccc !important;
  color: #000;
  box-shadow: 0 0 5px rgba(0, 108, 42, 0.5);
}

.selectObject select option {
  padding: 10px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  border-radius: 1vh !important;
}

.selectObject select option:hover {
  background-color: #006c2a !important;
  color: #fff;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #006c2a;
}

.tableContainer {
  flex: 1;
  overflow: auto;
}


.tableContainer::-webkit-scrollbar {
  width: 8px;
}

.tableContainer::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.panelDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
}

.rowContainer {
  display: flex;
  height: 25px;
  flex-direction: row;
  gap: 4vh;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rowContainer ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.rowContainer ul li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.rowContainer ul li a:hover {
  color: green;
}

.activePage {
  font-weight: bold;
  color: #006c2a;
  border-bottom: 2px solid #006c2a;
  padding: 2px;
}

.tableWrapper {
  width: 16.2%;
  border: 1px solid #006c2ab3;
  border-radius: 23px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 108, 42, 0.1);
  display: flex;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-direction: column;
}

.tableWrapper:hover {
  box-shadow: 0 12px 24px rgba(0, 108, 42, 0.2);
}

.iconTabs {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
}

.tabIcon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #006c2a;
  transition: color 0.3s ease, transform 0.3s ease;
}

.tabIcon:hover {
  color: #333;
  transform: scale(1.1);
}

.tableWrapper .panelTitle {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableWrapper {
  height: 200px;
}

.tableWrapper table {
  width: 100%;
  border-collapse: collapse;
}

.tableWrapper thead th {
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
  text-align: left;
}

.tableWrapper tbody td {
  padding: 7px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.plan svg {
  height: 100%;
  width: 100%;
}

.labelSelect {
  display: flex;
  align-items: center;
}

.buttonPage {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.leftContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: center;
  gap: 1vh;
}

.planContainer {
  display: flex;
  flex-direction: column;
}


.carouselContainer {
  display: flex;
  align-items: center;
  border-radius: 3vh;
  margin: 1vh;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #006c2a
}

.carouselTitle,
.carouselTitle1 {
  padding: 1vh;
  text-align: center;
  color: black;
  font-size: 2vh;
  border-bottom: 1px solid #006c2a;
}

.carouselTitle1
{
  width: auto !important;
} 
.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tableHeader th,
.tableBody td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: auto;
}

.tableHeader {
  background-color: #f4f4f4;
}

.tableBody td {
  background-color: #efefef;
  font-size: 1.2vh;
  padding: 1%;
}

.tableHeader th {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 10;
}

.tableBody tr {
  transition: background-color 0.3s ease;
}

.tableBody tr:hover {
  background-color: #f9f9f9;
}

.statisticsContainer {
  margin: 1vh !important;
  border-radius: 3vh;
  height: 44vh;
  border: 1px solid #006c2a;
}

.carouselHeader {
  width: 100%;
  background: #ccc;
  border-radius: 3vh 3vh 0 0;
}

.modalImage{
  width: 100%;
  height: 100%;
}


.modalContent{
}