.homeContainer {
  display: flex;
  height: 94vh;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  margin-top: 3%;
}

.carouselInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.buildingIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.3s;
  position: absolute;
  width: 245px;
}

.buildingIcon svg {
  font-size: 25rem;
  cursor: pointer;
}

.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.nearby {
  opacity: 0.1;
  transform: scale(0.9);
}

.prev {
  transform: translateX(-120%) scale(0.5);
}

.next {
  transform: translateX(120%) scale(0.5);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  width: 50px;
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 20px;
}

.hidden {
  background-color: transparent !important;
  color: transparent !important;
  border: none !important;
}

.carouselInner span {
  font-size: 20px;
  margin-bottom: 50px;
}

.plan {
  width:47% !important;
  height: auto;
}

.outSide{
  width: 47% !important;
  height: auto;
}
.planContainer {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.planOutside{
  display: flex;
  margin-left: 2%;
  margin-top: 24px;
  width: auto;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.planInside{
  display: flex;
  margin-right: 2%;
  margin-top: 24px;
  width: auto;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}

.tableContainer{
  width: 23%;
  position: absolute;
  margin-top: 25%;
  margin-left: 2%;
}
.tableContainer table{
  width: 100%;
}
.tableHeader th{
  border: 1px solid #333;
  background-color: #ccc;
}