.homeContainer {
  display: flex;
  height: 94vh;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 55%;
}

.carouselInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.buildingIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.3s;
  position: absolute;
  width: 245px;
}

.buildingIcon svg {
  font-size: 22rem;
  cursor: pointer;
}

.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.nearby {
  opacity: 0.1;
  transform: scale(0.9);
}

.prev {
  transform: translateX(-120%) scale(0.6);
}

.next {
  transform: translateX(120%) scale(0.6);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  width: 50px;
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 20px;
}

.hidden {
  background-color: transparent !important;
  color: transparent !important;
  border: none !important;
}

.carouselInner span {
  font-size: 20px;
  margin-bottom: 50px;
}

.plan {
  width:20% !important;
  height: auto;
}

.planInside {
  position: absolute;
  display: flex;
  margin-right: 175px;
  margin-top: 24px;
  width: 100%;
  justify-content: flex-end;
}