.Archive {
    position: relative;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .iconSort {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: end;
  }
  
  .iconSort svg {
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 24px;
  }
  
  .iconSort svg:hover {
    transform: scale(1.1);
  }
  
  .sortModal,
  .viewModal,
  .filtModal {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .headerSort,
  .headerView,
  .headerFilt {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .headerSort svg,
  .headerView svg,
  .headerFilt svg {
    cursor: pointer;
  }
  
  .selectSort1,
  .selectSort2 {
    padding: 10px;
  }
  
  .selectSort1 select,
  .selectSort2 select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .viewButton {
    display: flex;
    flex-direction: column;
  
  }
  
  .viewButton button {
    padding: 12px;
    cursor: pointer;
    border: 1px solid #555;
    text-align: center;
    background: #555;
    color: #fff;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .viewButton button:hover {
    background-color: #666;
    transform: translateY(-2px);
  }
  
  .viewButton button:last-child
  {
    margin-bottom: 0;
  }
  .filtContainer {
    padding: 10px;
  }
  
  .filtContainer span {
    display: block;
    margin-bottom: 10px;
  }
  
  .data {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .datatime {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .placeTab {
    margin-bottom: 10px;
  }
  
  .filt button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filt button:hover {
    background-color: #ccc;
  }
  